<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">Dit is de algemene titel</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/mainPage.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<nav th:fragment="navbar" class="navbar navbar-expand-sm navbar-light bg-success sticky-top" style=" background:
linear-gradient(45deg, #015249, rgba(29, 236, 197, 0.5) 100%);">
    <div class="container-fluid p-0">
        <ul class="navbar-nav w-100">

            <li class="nav-item active glassButton">
                <a class="nav-link text-white equalBox" th:href="@{/}">Igadi</a>
            </li>
            <li class="nav-item glassButton ml-3" sec:authorize="isAuthenticated()">
                <a class="nav-link text-white equalBox" th:href="@{/gardens}">My gardens</a>
            </li>

            <div class="ml-auto">
                <li class="nav-item glassButton" sec:authorize="isAnonymous()">
                    <a class="nav-link text-white equalBox" th:href="@{/users/new}">Sign up</a>
                </li>
            </div>

            <div>
                <li class="nav-item glassButton ml-3" sec:authorize="isAnonymous()">
                    <a class="nav-link text-white equalBox" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item glassButton ml-3" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-white equalBox" th:href="@{/logout}">Logout</a>
                </li>
            </div>

        </ul>
    </div>
</nav>

<div th:fragment="container" class="container">
</div>

<footer th:fragment="footer" class="footer text-center bg-success">

    <ul class="d-flex flex-column">
        <div>
            <li class="list-inline-item"><a th:href="@{/}" class="text-white">Home</a></li>
            <li class="list-inline-item"><a th:href="@{/about}" class="text-white">About</a></li>
            <li class="list-inline-item"><a th:href="@{/contact}" class="text-white">Contact</a></li>
        </div>
        <p class="text-white text-center">&copy; 2021 GardenGnomes</p>
    </ul>

</footer>

</body>
</html>