<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">Dit is de algemene titel</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/mainPage.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<nav th:fragment="navbar" class="navbar navbar-expand-sm navbar-light bg-success">
    <ul class="navbar-nav">

        <li class="nav-item active glassButton">
            <a class="nav-link text-white" th:href="@{/}">Igadi</a>
        </li>
        <li class="nav-item glassButton" sec:authorize="isAuthenticated()">
            <a class="nav-link text-white" th:href="@{/gardens}">Gardens</a>
        </li>

        <div class="navbarRightAccountCreate">
            <li class="nav-item glassButton" sec:authorize="isAnonymous()">
                <a class="nav-link text-white" th:href="@{/users/new}">Create account</a>
            </li>
        </div>

        <div class="navbarRightSide">
            <li class="nav-item glassButton" sec:authorize="isAnonymous()">
                <a class="nav-link text-white" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item glassButton" sec:authorize="isAuthenticated()">
                <a class="nav-link text-white" th:href="@{/logout}">Logout</a>
            </li>
        </div>

    </ul>
</nav>

</div>

<div th:fragment="container" class="container">

</div>
<p></p>
<div th:fragment="footer" class="row text-center bg-success">

    <ul class="footer">
        <li class="list-inline-item"><a th:href="@{/}" class="text-white">Home</a></li>
        <li class="list-inline-item"><a th:href="@{/about}" class="text-white">About</a></li>
        <li class="list-inline-item"><a th:href="@{/contact}" class="text-white">Contact</a></li>
        <p class="footer text-white">&copy; 2021 GardenGnomes</p>
    </ul>
    <p class="footer"></p>
</div>

<div th:fragment="bottomScripts">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>

</body>
</html>