<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Unauthorized</title>

</head>

<body>
<div th:replace="fragments/general :: navbar"></div>


<div class="container">

    <div class="justify-content-center">

        <h1>Oops....</h1>
        <h2>401 Unauthorized</h2>
        <H3>You are not authorized to view this page</H3>
        <h5>Go back to the <a class="linksColor" th:href="@{/}">home</a> page</h5>
    </div>

</div>

<div th:replace="fragments/general :: footer"></div>

</body>
</html>