.gardenTableContainer {
    margin: auto;
    width: 60vw;
    border: 10px solid pink;
    display: flex;
    flex-direction: row;
}

.gardenTable {
    width: 100%;
    border: 3px solid green;
    text-align: center;
}

.patchOverview {
    margin: auto;
    width: 50vw;
    border: 3px solid blue;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.patchTable {
    width: 100%;
    border: 3px solid green;
    text-align: center;
}

.taskOverviewContainer {
    width: 25vw;
    height: 60rem;
    border: 10px solid purple;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskTable {
    width: 100%;
    height: 100%;
    border: 3px solid green;
    text-align: center;
}

.gardenPatchContainer {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.landTile {
    width: 3rem;
    height: 3rem;
}

.gardens {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.gardenCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    height: 10rem;
    background-color: rgba(100, 100, 100, 0.5);
    border: 3px solid black;
    border-radius: 10px;
}

.taskCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.5);
    border: 3px solid black;
    border-radius: 10px;
}

.container {
    width: 80vw;
    margin: 0 auto;
    padding-top: 30px;
    min-height: calc(100vh - 120px - 73px);
}

.redMessage {
    color: red;
}

.greenMessage {
    color: green;
}

.background-brown {
    background-color: green;
}

.bottoms {
    margin-bottom: 0;
}

/*contains general layout for hoover links*/

.glassButton {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    margin-right: 1rem;
    transition-duration: 50ms;
}

.glassButton:hover {
    transition-duration: 50ms;
    background-color: rgba(255, 255, 255, 0.3);
}

/*contains general position information for the links in the navigation bar*/

.navbarRightSide {
    position: absolute;
    right: 0px;
}

.navbarRightAccountCreate {
    position: absolute;
    right: 156px;
}

.equalBox{
    width: 140px;
    text-align: center;
}

/*contains general position information for the footer*/

.footer {
    margin-top: auto;
    position: absolute;
    width: 100%;
    top: 92%;
    padding: 10px 0;
    color: green;
    height: 4.85rem;
    margin-bottom: 0px;
}

body{
height: 100vh;
}

/*contains general position and layout information for the gardens.html*/

.igadi-garden-list-item-light{
    background-color: rgba(0, 175, 0, 0.15);
    cursor: pointer;
    transition-duration: 150ms;
}

.igadi-garden-list-item-light:hover {
    transition-duration: 150ms;
    background-color: rgba(0, 150, 0, 0.5);
}

.igadi-garden-list-item-dark {
    background-color: rgba(0, 100, 0, 0.5);
}

.igadi-garden-list-overview {
    overflow-y: scroll;
}

/* Patch Form */
.patchFormContainer1{
    border-radius: 15px;
    background-color: rgba(0, 175, 0, 0.7);
}

.patchFormContainer2{
    border-radius: 15px;
    background-color: rgba(0, 100, 0, 0.5);
}

.patchFormBtn{
    background-color: white;
    color: green;
    transition-duration: 150ms;
}
.patchFormBtn:hover{
    background-color: rgba(255, 255, 255, 0.15);;
    color: white;
    transition-duration: 150ms;
    box-shadow: 0 0 10px black;
}

/*contains general position and layout information for the patchTasks.html*/

.patchTaskColumn {
    background-color: lightgreen;
    border-radius: 25px;
}

/*contains general position and layout information for the gardens.html*/

.gaNaarMiddenPoepKnop{
     margin:auto;
     display:block;
}

.brackets::before{
 content: "("
}

.brackets::after{
 content: ")"
}

/*contains general position and layout information for the patchTasks.html*/

