gardenTableContainer {
    margin: auto;
    width: 60vw;
    border: 10px solid pink;
    display: flex;
    flex-direction: row;
}

.gardenTable {
    width: 100%;
    border: 3px solid green;
    text-align: center;
}

.patchOverview {
    margin: auto;
    width: 50vw;
    border: 3px solid blue;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.patchTable {
    width: 100%;
    border: 3px solid green;
    text-align: center;
}

.taskOverviewContainer {
    width: 25vw;
    height: 60rem;
    border: 10px solid purple;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskTable {
    width: 100%;
    height: 100%;
    border: 3px solid green;
    text-align: center;
}

.gardenPatchContainer {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.landTile {
    width: 3rem;
    height: 3rem;
}

.gardens {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.gardenCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    height: 10rem;
    background-color: rgba(100, 100, 100, 0.5);
    border: 3px solid black;
    border-radius: 10px;
}

.taskCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: rgba(100, 100, 100, 0.5);
    border: 3px solid black;
    border-radius: 10px;
}

.container {
    width: 55vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    /*padding: 5rem;*/
    box-shadow: 0 0 20px 0 lightgrey;
    /*min-height: calc(100vh - 120px - 73px);*/
    z-index: 500;
}

nav {
    z-index: 600;
}

h1 {
    margin-bottom: 1.5rem;
    /*font-family: "Century Schoolbook L";*/
}

.redMessage {
    color: red;
}

.greenMessage {
    color: green;
}

.background-brown {
    background-color: green;
}

.bottoms {
    margin-bottom: 0;
}

/*contains general layout for hoover links*/

.glassButton {
    opacity: 90%;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    transition-duration: 50ms;
}

.glassButton:hover {
    transition-duration: 50ms;
    background-color: rgba(255, 255, 255, 0.3);
}


/*contains general position information for the links in the navigation bar*/

.navbarRightSide {
    position: absolute;
    right: 0px;
}

.navbarRightAccountCreate {
    position: absolute;
    right: 156px;
}

.equalBox{
    width: 140px;
    text-align: center;
}

.equalBoxPatchTasksEdit{
    width: 140px;
    text-align: center;
    margin-bottom: 10px;
    position:absolute;
    top: 15%;
    right: 15px;
}

.equalBoxPatchTasksAdd{
    width: 140px;
    text-align: center;
    margin-bottom: 0px;
}

.equalBoxPatchTasksDeletePatchFromPatchTaskPageBecauseRuerdDidntWantToMakeOneDiv{
    width: 140px;
    text-align: center;
    margin-bottom: 10px;
    position:absolute;
    top: 25%;
    right: 15px;
}

.borderBox{
    margin-top: 0.2rem;
    border-top: 2px solid green;
}

.w-32{
width: 33%;
}

.w-30 {
    width: 40%;
}

/*contains general position information for the footer*/

.footer {
    margin-top: auto;
    padding: 15px 0;
    height: 4.85rem;
    background: linear-gradient(45deg,
    rgba(29, 236, 197, 0.5),
    #015249
    100%);
    width: 100%;
    margin-bottom: 0px;
    z-index: 600;
}

body{
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.font-size-3rem {
    font-size: 3rem;
}

.font-size-4rem {
    font-size: 4rem;
}

/*contains general position and layout information for the gardens.html*/

.igadi-garden-list-item-light{
    background-color: rgba(0, 175, 0, 0.15);
    cursor: pointer;
    transition-duration: 150ms;
    min-width: 10rem;
}

.igadi-garden-list-item-light:hover {
    transition-duration: 150ms;
    background-color: rgba(0, 150, 0, 0.5);
}

.igadi-garden-list-item-dark {
    background-color: rgba(0, 100, 0, 0.5);
}

.igadi-garden-list-overview {
    overflow-x: scroll;
}

.igadi-garden-icon{
    background-color: lightblue;
    border-radius: 50%;
}

.closeToO{
margin-left: 1rem;
}

/* Patch Form */

.patchFormContainer1{
    border-radius: 15px;
    background-color: rgba(0, 175, 0, 0.3);
}

.patchFormContainer2{
    border-radius: 15px;
    background-color: rgba(0, 100, 0, 0.15);
}

.patchFormBtn{
    background-color: white;
    color: green;
    transition-duration: 150ms;
}

.patchFormBtn:hover{
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    transition-duration: 150ms;
    box-shadow: 0 0 10px black;
}

/*contains general position and layout information for the gardens.html*/

.gaNaarMiddenKnop{
    margin:auto;
    display:block;
}

.brackets::before{
    content: "("
}

.brackets::after{
    content: ")"
}

/*contains general position and layout information for the patchTasks.html*/

.grid-ish{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: auto;
    margin-top: 0px;
}

.grid-ish > * {
    flex: 1 1 100%;
}

.columnMakeUp{
width: 35%;
}



.colMakeUpNotDone{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .3rem;
    background-color: rgba(255, 105, 97, 0.15);
    border: 2px solid;
    border-radius: 15px;
    border-color: grey;
    margin: 3px;

}

.colMakeUpDone{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .3rem;
    background-color: lightgreen;
    border: 2px solid;
    border-radius: 15px;
    border-color: grey;
    margin: 3px;
}



.bigBox{
    width:100%;
}

.checkBox{
    justify-content: right;
}

.patchTaskColumn {
    font-size: 18px;
    width: 100%;
    padding-left:4px;
}

.boxed{
    padding-top: 15px;
    word-wrap: break-word;
}

.gridSize{
    padding: 10px;
    word-wrap: break-word;
    }

.noBreakWord{
    word-wrap: break-word;
    padding-top: 0;
}

.doneImg{
    word-wrap: break-word;
    padding-top: 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.doneForm{
    width: 2rem;
    height: 2rem;
}

.doneImgBtn{
    background: transparent;
}

.doneImg:hover{
    transition-delay: 50ms;
    transition-duration: 50ms;
    }

.inlineText{
    display: inline-block;

}

.binIcon{
    margin-bottom: auto;
    margin-left: auto;
    width: 15px;
    height: 15px;
    cursor: pointer;
   }


.binIconBig{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;

   }


   .penIcon{
   width: 30px;
       height: 30px;
       cursor: pointer;
       position: relative;

   }

.titelButtonBox{
margin-left: auto;
margin-right: auto;
margin-bottom: 0px;

}

.w-90{
width: 90%;
}

/*  About page */

.igadi-bg-light{
    background-color: rgba(0, 100, 0, 0.15);
}

.teamImg {
    border: 3px solid black;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
}

.igadi-team-title{
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.igadi-teammember-container{
    background-color: rgba(0, 100, 0, 0.3);
}

.igadi-quote-left{
    transform: translateX(-75px);
}

.igadi-quote-right{
    transform: translateX(50px);
}

/*.igadi-about-container{
    width:20rem;
    line-height: 1.5rem;
    background-color: #e9ecef;
}*/

.igadi-title{
    padding-bottom: 1rem;
    border-bottom: 2px solid darkslategray;
}

.igadi-about-subtitle{
    padding-bottom: 0.5rem;
    border-bottom: 1px solid darkslategray;
}

/* Modal override  */

.modal-backdrop {
    opacity:0.5 !important;
}

.modal {
    opacity:1 !important;
}

.modalfade {
    animation: fadeIn 0.5s;
    transform: translateY(5rem);
}

.binImage{
    background-color: lightcoral;
    padding: 1rem;
    border-radius: 30%;
}

@keyframes fadeIn {
    from {
        transform: translateY(-5rem);
        opacity:0;
    }
    to {
        transform: translateY(5rem);
        opacity:1;
    }
}

/* link and the colors*/

.linksColor{
    color:green;
}

.linksColor:hover{
    color: lightgreen;
    background-color: transparent;
    text-decoration: underline;
}

.linksColor-white {
    color: white;
}

.linksColor-white:hover {
    color: white;
}

.btnPadding {
    padding: 0.375rem 0.75rem;
}

.linksColorGreen{
    color:green;
}

.linksColorGreen:hover{
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

/* Breadcrumbs  */
.breadcrumb {
    margin: 0;
}

.igadi-item-green{
    color: rgb(92, 184, 92);
    transition-delay: 25ms;
    transition-duration: 150ms;
}

.igadi-item-green:hover{
    text-decoration: darkgreen;
    text-decoration-line: underline;
    color: rgb(92, 150, 92);
    transition-delay: 25ms;
    transition-duration: 150ms;
    background-color: rgba(92, 200, 92, 0.1);
    border-radius: 10px;
}


/* Gardendetails page */

.gardenDetailsButton{
    width: 250px;
    height: 100px;
    background-color: lightgreen;
    display:flex;
}

.rapper{
    flex-wrap: wrap;
    display: flex;
}

.plusIcon{
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition-delay: 25ms;
    transition-duration: 75ms;
}

.plusIcon:hover{
    transition-delay: 25ms;
    transition-duration: 75ms;
    transform: scale(1.5);
}

.gardenDetailsPatchesOrdered{
padding-left: 1.1rem;
}

/* Profile  */

.profile-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.profile-jumbotron-parent {
    position: relative;
    background-color: #F5F5F5;
}

.profile-userImage-child1 {
    position: relative;
    margin-right: 1.5rem;
    /*background-color: #F5F5F5;*/
    /*visibility: hidden;*/
}

.profile-userDetails-child2 {
    display: inline-block;
    margin-left: 0.5rem;
    position: absolute;
    width: 90%;
    padding-bottom: 0.5rem;
    visibility: visible;
}

.profile-userDetails-child3 {
    position: relative;
    top: 1.5rem;
    margin-left: 8rem;
}

.profile-userName {
    margin-top: 1.5rem;
    width: inherit;
}

.profile-profilePage {
    width: fit-content;
}

.profile-gardens-en-roles {
    position: relative;
}

.profile-btn {
    margin-top: 0.5rem;
    float: right;
}

/* Contact */
.hiddenGarden{
    display: none;
}

.igadi-add-person-btn{
    border-left: 1px solid rgba(200, 200, 200, 0.3);
    border-right: 1px solid rgba(200, 200, 200, 0.3);
    border-top: 0.5px solid rgba(200, 200, 200, 0.3);
    border-bottom: 0.5px solid rgba(200, 200, 200, 0.3);
    text-align: left;
    height: 3rem;
    color: black;
}

.igadi-add-gardener-img{
    width: 1.5rem;
    height: 1.5rem;
}

.igadi-resultList-appear{
    animation: listAppears 0.5s 1;
}

@keyframes listAppears {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.igadi-manager-star{
    width: 1rem;
    height: 1rem;
}

.igadi-manager-star-garden-details{
    width: 2rem;
    height: 2rem;
    transform: translate(-50px, -42px);
}

.igadi-manager-star-gardens{
    position: absolute;
    width: 1rem;
    height: 1rem;
    transform: translate(-215%, 0px);
}

.igadi-manager-star-gardeners{
    position: absolute;
    width: 1rem;
    height: 1rem;
    transform: translate(-215%, 0px);
}

/* Information about login page*/

.eyeBox{
height: 2.37rem;
}

.rond{
border-radius: 15px 50px 30px 5px;
width: 98%;
}

.w-98 {
    width: 98%;
}

.mb-2point5 {
    margin-bottom: 0.75rem;
}

.mr-2point5 {
    margin-right: 0.75rem;
}

/* Information about login page*/

.inliner{
    display: inline-block;
}

.equalBoxSmall{
    width: 130px;
    text-align: center;
}

.equalBoxTiny{
    width: 70px;
    text-align: center;
}

.btn-small {
    /*font-size: 0.75rem;*/
    padding: 0.25rem 0.5rem;
}

.border-bottom-black {
    border-bottom: 1px solid black;
}

.min-h-200px {
    min-height: 200px;
}

/* Create account page password eye position*/
#eyeSpan {
    position: absolute;
    right: 15px;
    transform: translate(0, -50%);
    top: 49%;
    cursor: pointer;
}


.cursor-default {
    cursor: default;
}

.form-control-label {
    height: calc(1.5em + 0.75rem + 2px);
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-right: 0.75rem;
    padding-left: 0;
    margin-bottom: 0;
}

/* Look of the buttons */
.btn-success {
    background-color: #015249;
}

.flex-basis-0 {
    flex-basis: 0;
}

/*background: -webkit-linear-gradient(to right, #02C8A7, #7CDBD5);*/

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*background: linear-gradient(to right, #02C8A7, #015249);*/

/*rgba(29, 236, 197, 0.5),*/
/*#015249*/

/* profile settings page */
