.gardenTableContainer{
  margin: auto;
  width: 50vw;
  height: 30rem;
  border: 10px solid pink;

  display: flex;
  flex-direction: row;
}

.gardenTable{
    width: 100%;
    border: 3px solid green;
    text-align: center;
}

.patchOverview{
    margin: auto;
    width: 50vw;
    border: 3px solid blue;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.patchTable{
    width: 100%;
    border: 3px solid green;
    text-align: center;
}

.taskOverviewContainer{
  width: 25vw;
  height: 100%;
  border: 10px solid purple;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskTable{
    width: 100%;
    border: 3px solid green;
    text-align: center;
}

.landTile{
    width: 3rem;
    height: 3rem;
}

.gardens{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.gardenCard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    height: 10rem;
    background-color: rgba(100, 100, 100, 0.5);
    border: 3px solid black;
    border-radius: 10px;
}



