<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>About</title>

</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container align-items-center bg-white shadow-none">
    <div class="w-75 d-flex flex-column">

        <div class="mb-3 text-center">
            <h1 class="igadi-title">About Igadi</h1>
        </div>

        <div>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus deleniti dolore earum error
              est eum expedita fuga fugiat laborum ratione, reprehenderit repudiandae, tenetur. Debitis fugiat incidunt
              possimus quo quos voluptatum?</span>

            <div class="d-flex flex-row">
                <blockquote class=" blockquote text-left igadi-quote w-50 mt-2 igadi-quote-left d-flex flex-column
                justify-content-center">
                    <p>"Wow, this is such a great site!"</p>
                    <footer class="blockquote-footer">A happy garden manager</footer>
                </blockquote>
                <span class="w-50">Accusamus alias blanditiis cum dignissimos error esse, est expedita facilis
                  id illo minima modi obcaecati omnis pariatur perferendis perspiciatis placeat porro, quaerat quasi
                  qui quis quo quod rerum veritatis voluptatum!</span>
            </div>

            <span>Beatae, commodi consequatur consequuntur culpa debitis eius error fuga inventore itaque maxime,
              nihil non numquam quia ratione recusandae temporibus velit? Amet blanditiis cumque illo nam numquam quas
              reprehenderit totam voluptate?</span></p>

            <h3 class="font-weight-bold text-center igadi-about-subtitle">Our mission</h3>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aperiam dolores eos,
              error, eveniet id iure modi molestiae natus necessitatibus nesciunt nulla officia officiis quam qui sint
              totam voluptates!</span>

            <div class="d-flex flex-row">
                <span class="w-50">Ex, minima, quasi! Architecto cumque, doloremque enim esse est, facere hic natus
                  nesciunt nostrum optio pariatur quam quibusdam quisquam quos reiciendis sapiente sed tempora totam
                  ullam ut vero voluptates voluptatibus!</span>
                <blockquote class=" blockquote text-right igadi-quote w-50 igadi-quote-right d-flex flex-column
                justify-content-center">
                    <p>"Yes, I like this!"</p>
                    <footer class="blockquote-footer">Kobo</footer>
                </blockquote>
            </div>

            <span>A ab, animi at consequatur, culpa cum dignissimos ducimus eos incidunt laborum maxime minus molestias
              necessitatibus neque nisi odio officiis optio praesentium quasi quidem, sed sequi tempore totam ullam
              voluptates.</span><span>Aspernatur assumenda at aut autem corporis dolore dolorum earum et eveniet id
          illum iste iusto, mollitia natus non odio odit porro possimus quae quaerat quod ratione sapiente similique
          velit voluptatem!</span><span>Architecto at consequuntur cumque doloribus earum eos est, eveniet fuga fugit
          hic illum in ipsum iusto, labore minima nesciunt, nisi officia officiis perferendis quisquam soluta ullam
          unde veniam voluptatem voluptatum?</span></p>
        </div>

        <h3 class="font-weight-bold text-center mt-lg-4 igadi-about-subtitle">Our team</h3>
        <p class="m-0"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores,
          consectetur error facilis illo incidunt ipsam labore molestias nobis officia placeat possimus sit tempore
          veniam voluptatem? Accusamus molestias nostrum pariatur.</span>

        <div class="d-flex flex-row">
            <blockquote class=" blockquote text-left igadi-quote w-50 mt-2 igadi-quote-left d-flex flex-column
            justify-content-center">
                <p>"Amazing, I love watering the carrots!"</p>
                <footer class="blockquote-footer">A happy gardener</footer>
            </blockquote>
            <span class="w-50">Adipisci eos et explicabo facere iure nesciunt, reiciendis repellendus vitae! Ab
              accusantium alias animi assumenda debitis dicta error, expedita illum impedit itaque laborum, mollitia
              necessitatibus qui quos rerum sint tempora?</span>
        </div>

        <span>Accusamus adipisci consequatur dolore eum exercitationem illum ipsam, laboriosam molestiae nobis
          quidem quos ratione rerum vero. Asperiores commodi eaque excepturi incidunt, maiores molestiae possimus
          reprehenderit, sequi sint suscipit voluptates, voluptatibus.</span></p>
    </div>
</div>


<div th:replace="fragments/general :: footer"></div>

</body>
</html>