<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Garden Overview</title>

    <link rel="stylesheet" type="text/css" href="/css/mainPage.css">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>

<div th:fragment="navbar">
    <ul class="nav">
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/patches}">Patches</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/tasks}">Tasks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/plants}">Plants</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/users/new}">Create new user</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</div>

<div class="gardenTableContainer">

    <div class="gardenPatchContainer">

    <h1>Gardens</h1>
    <table class="gardenTable">
        <tr>
            <th>GardenID</th>
            <th>Name</th>
            <th>Icon</th>
        </tr>
        <tr th:each="garden : ${allGardens}">
            <td th:text="${garden.gardenId}"></td>
            <td th:text="${garden.gardenName}"></td>
            <td><img class="landTile" src="/images/icons/gardenIcon.svg"></td>
        </tr>
    </table>


        <h1>Patches</h1>

        <table class="patchTable">
            <tr>
                <th>Garden</th>
                <th>PatchID</th>
                <th>Name</th>
            </tr>
        </table>

    </div>

<div class="taskOverviewContainer">
    <h1>Tasks</h1>
</div>

</div>



</body>
</html>


<!--<div class="container">-->
<!--    <h1>Auteurs</h1>-->

<!--    <h2>Overzicht</h2>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <th>Id</th>-->
<!--            <th>Naam</th>-->
<!--        </tr>-->
<!--        <tr th:each="author : ${allAuthors}">-->
<!--            <td th:text="${author.authorId}"></td>-->
<!--            <td><a th:href="@{/authors/detail/{authorId}(authorId=${author.authorId})}" th:text="${author.displayName}"></a> </td>-->
<!--        </tr>-->
<!--    </table>-->

<!--    <h2>Formulier voor nieuwe auteur</h2>-->
<!--    <form th:action="@{authors/new}" method="post" th:object="${newAuthor}">-->
<!--        <table>-->
<!--            <tr>-->
<!--                <td>Voornaam</td>-->
<!--                <td><input type="text" th:field="*{firstName}"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>tussenvoegsel</td>-->
<!--                <td><input type="text" th:field="*{infixName}"></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Achternaam</td>-->
<!--                <td><input type="text" th:field="*{lastName}"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--        <input type="submit" value="Sla auteur op">-->
<!--    </form>-->
<!--</div>-->