<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})"><title>Contact</title>

</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<container class="main-container-jumbotron">

    <div class="square">
        <div class="main-text-box">
            <h1 class="contact-information">Contact</h1>

            <div class="border-temp w-100 p-0 mb-3">
                GardenGnomes<br>
                Dwarfstreet 7 SW<br>
                123456 FUN Fairyland<br>
                The Netherlands<br>
            </div>

            <div class="border-temp w-100 p-0 mb-3">
                For all general questions you can reach us at: <br>
                Telephone: (606) 011 23 58 13 21 34 <br>
                Email: garden@gardengnomes.nl
            </div>

        </div>
    </div>

</container>

<div th:replace="fragments/general :: footer"></div>

</body>
</html>