<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})"><title>Contact</title>

</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<container class="container shadow-none align-items-center">


        <div class="text-center w-75">
            <h1 class="igadi-title mb-3">Contact</h1>

            <div class="w-100 p-0 mb-3">
                GardenGnomes<br>
                Dwarfstreet 7 SW<br>
                123456 FUN Fairyland<br>
                The Netherlands<br>
            </div>

            <div class="w-100 p-0 mb-3">
                For all general questions you can reach us at: <br>
                Telephone: (606) 011 23 58 13 21 34 <br>
                Email: garden@gardengnomes.nl
            </div>

        </div>

</container>

<div th:replace="fragments/general :: footer"></div>

</body>
</html>