<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <title>Garden Overview</title>
</head>

<body>

<div th:replace="fragments/general :: navbar"></div>

<nav aria-label="breadcrumb m-0">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a class="igadi-item-green" href="/">Home</a></li>
        <li th:if="${!isAdmin}" class="breadcrumb-item active" aria-current="page">My gardens</li>
        <li th:if="${isAdmin}" class="breadcrumb-item active" aria-current="page">All gardens</li>
    </ol>
</nav>

<div class="container">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row border-bottom pb-5">
            <div class="col-9 p-0">
                <h1 th:if="${!isAdmin}">My gardens</h1>
                <h1 th:if="${isAdmin}">All gardens</h1>
            </div>
            <div class="ml-auto p-0 d-inline-flex flex-column">
                <button type="button" class="btn btn-small btn-outline-success mt-2"
                        onclick="location.href='/gardens/new'">
                    Create garden
                </button>
                <button type="button" class="btn btn-small btn-outline-success mt-2"
                        onclick="location.href='/gardens/requests'">
                    Join garden
                </button>
            </div>
        </div>

        <div class="mt-5">
            <div th:each="garden: ${allGardens}" class="d-flex flex-column mt-1">
                <div class="d-flex flex-row">
                    <a th:href="@{/overview/details/{gardenId}(gardenId=${garden.gardenId})}"
                           class="linksColor w-75" th:text="${garden.gardenName}">
                    </a>
                    <img th:if="${garden.isGardenManagerStatus()}" th:src="@{/images/icons/laurel.png}"
                         class="igadi-manager-star-gardens mt-1 ml-2"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>

</body>
</html>