<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <title>Delete garden</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/mainPage.css">
</head>

<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container d-flex flex-column border-temp h-50">
    <div class="border-temp mb-3">
        <h1>Are you sure you want to delete this garden?</h1>
    </div>
    <div class="border-temp col-3 p-0 mb-3">
        <form th:action="@{/gardens/delete}" method="post" th:object="${allGardens}">
            <select>
                <option th:each="garden : ${allGardens}" th:value="${garden.gardenId}" th:text="${garden.gardenName}"></option>

            </select>
            <input type="text" class="form-control mb-3" placeholder="Name">
            <button type="button" class="btn btn-primary" onclick="location.href='/gardens/delete/{gardenId}(gardenId=${garden.gardenId}})'">
                Delete garden
            </button>
        </form>
    </div>

</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>