<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Garden tasks</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container d-flex flex-column border-temp h-50">

    <div class="border-temp mb-3 text-center">
        <h1 th:text="${garden.getGardenName()}"></h1>
    </div>

        <div class="d-flex flex-row mb-3 w-100 border-temp font-weight-bold">
            <p class="border-temp m-0 w-25">Name</p>
            <p class="border-temp m-0 w-25">Description</p>
            <p class="border-temp m-0 w-25">Completed?</p>
        </div>

    <ul th:each="task : ${allGardenTasks}" class="border-temp list-unstyled m-0 w-100">
        <li class="border-temp mb-2 w-100 d-flex">
            <p class="w-25 m-0" th:text="${task.getTaskName()}"></p>
            <p class="w-25 m-0" th:text="${task.getTaskDescription()}"></p>
            <p class="w-25 m-0" th:text="${task.doneOrNot()}"></p>
        </li>
    </ul>

</div>

<div th:replace="fragments/general :: footer"></div>

</body>
</html>