<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <title>Garden Overview</title>
</head>

<body>

<div th:replace="fragments/general :: navbar"></div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="igadi-item-green" href="/">Home</a></li>
        <li class="breadcrumb-item"><a class="igadi-item-green" href="/gardens">Gardens</a></li>
        <li class="breadcrumb-item active" th:text="${garden.getGardenName()}" aria-current="page"></li>
    </ol>
</nav>

<div class="container">

    <div class="d-flex flex-column">
        <div class="d-flex flex-row border-bottom pb-5">
            <div class="col-9 p-0">
                <h1 class="mb-1 text-truncate" th:text="${garden.getGardenName()}"></h1>
                <p class="m-0 pl-1" th:text="${garden.getLocation()}"></p>
            </div>

            <div class="ml-auto p-0 d-inline-flex flex-column">

                <button th:if="${isUserGardenManager}" class="btn btn-small btn-outline-danger mt-2"
                        data-toggle="modal" data-target="#igadiGardenDeleteModal">
                    Delete garden
                </button>
                <a class="text-decoration-none mt-2" th:if="${isUserGardenManager}"
                   th:href="@{/overview/details/{gardenId}/edit(gardenId=${garden.gardenId})}">
                    <button class="btn btn-small btn-outline-success">Change name</button>
                </a>
                <a class="text-decoration-none mt-2" th:if="${isUserGardenManager}"
                   th:href="@{/overview/details/{gardenId}/gardeners(gardenId=${garden.gardenId})}">
                    <button class="btn btn-small btn-outline-success">See gardeners</button>
                </a>
                <button th:if="${!isUserGardenManager}" class="btn btn-small btn-outline-danger mt-2"
                        data-toggle="modal" data-target="#igadiGardenLeaveModal">Leave garden</button>
                <div class="d-flex">
                    <a class="text-decoration-none mt-2 d-flex flex-grow-1" th:if="${isUserGardenManager}"
                       th:href="@{/overview/details/garden/patches/new/{gardenId}(gardenId=${garden.gardenId})}">
                        <button type="button" class="btn btn-small btn-outline-success flex-grow-1">Add patch</button>
                    </a>
                </div>


            </div>
        </div>


        <div class="d-flex flex-row mt-5 font-weight-bold">
            <div class="col-4 p-0">Patch</div>
            <div class="col-4 p-0">Crop</div>
            <div class="col-4 p-0">Open tasks</div>
        </div>

        <div class="mt-1">
            <div th:each="patch: ${allPatches}" class="d-flex flex-column mt-1">
                <div class="d-flex flex-row">
                    <div class="col-4 p-0">
                        <a th:href="@{/overview/details/patchTasks/{patchId}(patchId=${patch.getPatchId()})}"
                           class="linksColor" th:text="${patch.getName()}">
                        </a>
                    </div>
                    <div class="col-4 p-0" th:text="${patch.showWhatIsGrowing()}"></div>
                    <div class="col-4 p-0">3</div>
                </div>
            </div>
        </div>




    </div>




</div>





    <!-- Garden Modal -->
    <div class="modal modalfade" id="igadiGardenDeleteModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header w-100 d-flex justify-content-center text-center">
                    <h5 class="modal-title" th:text="'Deleting garden: ' + ${garden.getGardenName()}"></h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body w-100 d-flex justify-content-center text-center d-flex flex-column">
                    <h4>Are you sure?</h4>
                    <p>* All patches and tasks in this garden will also be deleted</p>
                </div>
                <div class="modal-footer w-100 d-flex justify-content-center">
                    <form class="w-25"
                          th:action="@{/gardens/delete/{gardenId}(gardenId=${garden.getGardenId()})}"
                          th:method="post" th:object="${garden}">
                        <button th:type="submit" class="w-100 btn btn-danger taskDeleteBtn w-25">Yes
                        </button>
                    </form>
                    <button type="button" class="btn btn-success w-25" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

<!-- Leave Garden Modal -->
<div class="modal modalfade" id="igadiGardenLeaveModal" tabindex="-1" role="dialog" th:if="${!isUserGardenManager}"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header w-100 d-flex justify-content-center text-center">
                <h5 class="modal-title" th:text="'Leaving garden: ' + ${garden.getGardenName()}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body w-100 d-flex justify-content-center text-center d-flex flex-column">
                <h4>Are you sure?</h4>
                <p>* You can rejoin by sending a new request</p>
            </div>
            <div class="modal-footer w-100 d-flex justify-content-center">
                <form th:method="post" th:if="!${isUserGardenManager}" class="w-25"
                      th:action="@{/overview/details/{gardenId}/leave(gardenId=${garden.gardenId})}">
                    <button class="w-100 btn btn-danger taskDeleteBtn w-25">Yes</button>
                </form>
                <button type="button" class="btn btn-success w-25" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

</div>

<div th:replace="fragments/general :: footer"></div>

</body>
</html>