<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <title>Garden Form</title>
</head>

<body>

<div th:replace="fragments/general :: navbar"></div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="igadi-item-green" href="/">Home</a></li>
        <li class="breadcrumb-item"><a class="igadi-item-green" href="/gardens">Gardens</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Garden</li>
    </ol>
</nav>

<div class="container">
    <div class="mb-4">
        <h1 th:if="${garden.getGardenId() == null}">Create a new garden</h1>
        <h1 th:if="${garden.getGardenId() != null}">Edit garden</h1>
    </div>


    <div class="col-4 p-0 mb-3">
        <form th:if="${garden.getGardenId() == null}" th:action="@{/gardens/new}" method="post" th:object="${garden}">
            <input type="text" th:field="*{gardenName}" class="form-control mb-2point5" placeholder="Name">
            <input type="text" th:field="*{location}" class="form-control mb-3" placeholder="Location">
            <input type="hidden" th:field="*{gardenId}">

            <div class="d-flex flex-row w-100">
                <button type="submit" class="btn btn-small btn-success">Save</button>
                <a class="ml-auto" th:href="@{/gardens}"><button type="button" class="btn btn-small btn-success ml-auto">
                    Cancel
                </button></a>
            </div>

        </form>

        <form th:if="${garden.getGardenId() != null}" th:action="@{/gardens/edit}" method="post" th:object="${garden}">
            <input type="text" th:field="*{gardenName}" class="form-control mb-2point5" placeholder="Name">
            <input type="text" th:field="*{location}" class="form-control mb-3" placeholder="Location">
            <input type="hidden" th:field="*{gardenId}">

            <div class="d-flex flex-row w-100">
                <button type="submit" class="btn btn-small btn-success">Save</button>
                <a class="ml-auto" th:href="@{/gardens}"><button type="button" class="btn btn-small btn-success ml-auto">
                    Cancel
                </button></a>
            </div>

        </form>
    </div>
    <div>
        <p th:if="${!message.isEmpty()}" th:class="${message.get(1)}" th:text="${message.get(0)}"></p>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>

</body>
</html>