<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <title>Garden Form</title>
</head>

<body>

<div th:replace="fragments/general :: navbar"></div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="igadi-item-green" href="/">Home</a></li>
        <li class="breadcrumb-item"><a class="igadi-item-green" href="/gardens">Gardens</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Garden</li>
    </ol>
</nav>

<div class="container d-flex flex-column align-items-center h-50 text-center">
    <div class="mb-3">
        <h1>Create a new garden</h1>
    </div>

    <div class="col-3 p-0 mb-3">
        <form th:action="@{/gardens/new}" method="post" th:object="${garden}">
            <input type="text" th:field="*{gardenName}" class="form-control mb-3" placeholder="Name">
            <input type="text" th:field="*{location}" class="form-control mb-3" placeholder="Location">

            <div class="inliner w-100">
                <button type="submit" class="equalBoxSmall btn btn-success float-left">Save garden</button>
                <button type="button" class="equalBoxSmall btn btn-success float-right"
                        onclick="location.href='/gardens'">
                    Cancel
                </button>
            </div>

        </form>
    </div>
    <div>
        <p th:if="${!message.isEmpty()}" th:class="${message.get(1)}" th:text="${message.get(0)}"></p>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>

</body>
</html>