<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Homepage</title>

</head>
<body>
<div th:replace="fragments/general :: navbar"></div>

<div class="container d-flex flex-column border-temp h-50">
    <div class="border-temp mb-3 text-center">
        <h1 sec:authorize="isAnonymous()">Welcome to Igadi!</h1>
        <h1 sec:authorize="isAuthenticated()" th:text="'Welcome ' + ${user.getUserName()} + '!'"></h1>
        <h3 sec:authorize="isAnonymous()">Home of the Green and the Fresh!</h3>
        <h3 sec:authorize="isAuthenticated()">Good to see you again!</h3>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>

</body>

</html>