<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Homepage</title>
</head>

<body class="bg-white">
<div th:replace="fragments/general :: navbar"></div>

<div id="userProfileBorder" class="container shadow-none">
    <div class="mb-3 text-center">
        <h1 sec:authorize="isAnonymous()">Welcome to Igadi!</h1>
        <h3 sec:authorize="isAnonymous()">Home of the Green and the Fresh!</h3>
    </div>

    <!--When the user logged in succesfully, he will have acces/ will see the following -->
    <div sec:authorize="isAuthenticated()">
        <div id="profileContainer">

            <p id="loginMessage" th:if="${!message.isEmpty()}" th:class="${message.get(1)}" th:text="${message.get(0)}">
            </p>
            <div class="profile-userImage-child1">
                <img id="profileAvatar" src="/images/icons/avatarBlack/icons8-user-50.png" alt="avatar" width="150"
                     class="img-fluid rounded-circle shadow">

                <div class="profile-userDetails-child2">
                    <h2 sec:authorize="isAuthenticated()" th:text="${user.getUserName()}"
                        class="col-8 p-0 profile-userName"></h2>
                    <h5 sec:authorize="isAuthenticated()" th:text="|Profile page|"
                        class="col-8 p-0 profile-profilePage"></h5>
                </div>
            </div>

            <div class="w-100 d-flex justify-content-center">

                <!--Container that contains the names of the gardens and a list of the role of the user for that particular garden -->
                <div class="mt-3 w-50">
                    <div th:each="garden, iStat : ${gardens}" class="d-flex flex-row w-100 mt-2">
                        <div class="col-6 p-0">
                            <a th:href="@{/overview/details/{gardenId}(gardenId=${garden.gardenId})}"
                               class="linksColor">
                                <div th:text="${garden.gardenName}" class="m-0">
                                </div>
                            </a>
                        </div>
                        <div class="col-6 p-0">
                            <div th:text="${roles.get(iStat.index)}" class="m-0"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div>
                <button th:if="${isAdmin}" type="button" class="btn btn-success mr-3 mr-auto profile-btn"
                        onclick="location.href='/users'">Check Users
                </button>
                <!--<button type="button" class="btn btn-success mr-3 mr-auto profile-btn"
                        onclick="location.href='/profileSettings'">Profile settings
                </button>-->

            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/general :: footer"></div>

</body>
</html>