
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Homepage</title>
</head>

<body>
<div th:replace="fragments/general :: navbar"></div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="igadi-item-green" href="/">Home</a></li>
        <li class="breadcrumb-item"><a class="igadi-item-green" href="/gardens">Gardens</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>

<div id="userProfileBorder" class="container d-flex flex-column border-temp h-50">
    <div class="border-temp mb-3 text-center">
        <h1 sec:authorize="isAnonymous()">Welcome to Igadi!</h1>
        <!--        <h2 sec:authorize="isAuthenticated()" th:text="'Welcome ' + ${user.getUserName()} + '!'"></h2>-->
        <h3 sec:authorize="isAnonymous()">Home of the Green and the Fresh!</h3>
        <!--        <h3 sec:authorize="isAuthenticated()">Good to see you again!</h3>-->
    </div>

    <!--When the user logged in succesfully, he will have acces/ will see the following -->
    <div sec:authorize="isAuthenticated()" class="jumbotron profile-jumbotron-parent">
        <div>


            <div class="profile-userImage-child1">
                <img src="/images/icons/avatarBlack/icons8-user-50.png" alt="avatar" width="150">

                <div class="profile-userDetails-child2">
                    <h2 sec:authorize="isAuthenticated()" th:text="${user.getUserName()}" class="col-8 p-0 profile-userName"></h2>
                    <h5 sec:authorize="isAuthenticated()" th:text="|Profile page|" class="col-8 p-0 profile-profilePage"></h5>
                </div>
            </div>

            <div class="profile-userDetails-child3">

                <!--Container that contains the names of the gardens and a list of the role of the user for that particular garden -->
                <div class="profile-gardens-and-roles container-fluid row">
                    <div class="col-4">
                        <div th:each="garden : ${gardens}">
                            <div class="border-temp mb-2">
                                <a th:href="@{/overview/details/{gardenId}(gardenId=${garden.gardenId})}" class="w-25 linksColor">
                                    <div th:text="${garden.gardenName}" class="border-temp m-0">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div th:each="role : ${roles}">
                            <div class="border-temp mb-2">
                                <div th:text="${role}" class="border-temp m-0"></div>
                            </div>
                        </div>
                    </div>
                </div>

<!--                <div>-->
<!--                    <button type="button" class="btn btn-success mr-3 mr-auto profile-btn">Change profile settings</button>-->
<!--                </div>-->

            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/general :: footer"></div>

</body>
</html>