<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container d-flex flex-column align-items-center border-temp h-50 text-center">
        <div class="border-temp mb-3">
            <h1>Login</h1>
        </div>


        <div class="border-temp col-3 p-0 mb-3">
            <form th:action="@{/login}" method="post" th:object="${user}">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid email or password.</div>
                </div>

                <div>
                <input type="email" id="username" name="username" class="form-control" autofocus="autofocus" placeholder="Email" />
                <br>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
                <br>
                <input type="submit" name="login-submit" id="login-submit" class="equalBox btn btn-success mr-3 mr-auto" value="Login" />
                </div>
                <br>
                <p>
                    New user? <a th:href="@{/users/new}">Sign up</a>
                </p>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
</div>

</body>

</html>
