<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <div class="mb-4">
        <h1>Login</h1>
    </div>
    <p id="loginMessage" th:if="${!message.isEmpty()}" th:class="${message.get(1)}" th:text="${message.get(0)}"></p>

        <div class="col-4 p-0 mb-3">
            <form th:action="@{/login}" method="post" th:object="${user}">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid email or password.</div>
                </div>

                <input type="email" id="username" name="username" class="form-control mb-2point5" autofocus="autofocus" placeholder="Email" />
                <input type="password" id="password" name="password" class="form-control mb-3" placeholder="Password" />
                <input type="submit" name="login-submit" id="login-submit" class="text-align-center btn-small btn btn-success mr-3 mb-4" value="Login" />

                <p th:if="${message.isEmpty()}">
                    New user? <a  class="w-25 linksColor" th:href="@{/users/new}">Sign up</a>
                </p>
            </form>
        </div>
</div>

<div th:replace="fragments/general :: footer"></div>

</body>

</html>
