<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Patch tasks</title>
</head>

<body>

<div th:replace="fragments/general :: navbar"></div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/gardens">Gardens</a></li>
        <li class="breadcrumb-item"><a th:text="${patch.getGardenDTO().getGardenName()}"
                                       th:href="@{/overview/details/{gardenId}(gardenId=${patch.getGardenDTO().getGardenId()})}"></a>
        </li>
        <li class="breadcrumb-item active" th:text="${patch.cropInGarden()}" aria-current="page"></li>
    </ol>
</nav>

<div class="content flow">

    <div class="border-temp mb-3 text-center titelPatchTasks">
        <h1 class="inlineText" th:text="${patch.cropInGarden()}"></h1>
    </div>

    <div>
        <a th:if="${isUserGardenManager}" th:href="@{/overview/details/garden/patches/edit/{patchId}(patchId=${patch.getPatchId()})}">
            <button class="equalBoxPatchTasksEdit btn btn-outline-success float-left">Edit Name</button>
        </a>

        <a th:if="${isUserGardenManager}" th:href="@{/overview/details/patchTasks/new/{patchId}(patchId=${patch.getPatchId()})}">
            <button class="equalBoxPatchTasksAdd btn btn-outline-success float-right">Add Task</button>
        </a>
    </div>

    <div class="col w-100 text-center">
        <h2 class="inlineText">Tasks</h2>
    </div>

    <div class="bigBox">
        <div class="grid-ish">

            <div th:each="task : ${allPatchTasks}" class="d-flex flex-column w-100 h-100 gridSize"
                 th:class="${task.doneOrNot()} == 'Done' ? 'colMakeUpDone' : 'colMakeUpNotDone'">

                <img th:src="'/images/icons/bin.png'" class="binIcon float-right" data-toggle="modal"
                     th:data-target="'#igadiModal' + ${task.getTaskId()}">

                <div class="patchTaskColumn float-left font-weight-bold w-50" th:text="${task.getTaskName()}">
                </div>

                <div class="boxed">
                    <div class="m-1 float-left noBreakWord w-50" th:text="${task.getTaskDescription()}"></div>
                    <div class="m-1 float-right noBreakWord" th:text="${task.doneOrNot()}"></div>

                </div>
                <div class="modal modalfade" th:id="'igadiModal' + ${task.getTaskId()}" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header w-100 d-flex justify-content-center text-center">
                                <h5 class="modal-title" id="myModalLabel" th:text="${task.getTaskName()}"></h5>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body w-100 d-flex justify-content-center text-center">
                                <h4>Are you sure?</h4>
                            </div>
                            <div class="modal-footer w-100 d-flex justify-content-center">
                                <form class="w-25" th:if="${isUserGardenManager}"
                                      th:action="@{/overview/details/patchTasks/delete/{taskId}(taskId=${task.getTaskId()})}"
                                      th:method="post" th:object="${task}">
                                    <button th:type="submit" class=" w-100 btn btn-danger taskDeleteBtn w-25">Confirm
                                    </button>
                                </form>
                                <button type="button" class="btn btn-success w-25" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>

<div th:replace="fragments/general :: footer"></div>

</html>