<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <title>Patch Form</title>
</head>

<body>

<div th:replace="fragments/general :: navbar"></div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="igadi-item-green" href="/">Home</a></li>
        <li class="breadcrumb-item"><a class="igadi-item-green" href="/gardens">Gardens</a></li>
        <li class="breadcrumb-item active" aria-current="page" th:text="${patch.getGardenDTO().getGardenName()}"></li>
    </ol>
</nav>

<div class="container">

    <div class="mb-4">
        <h1 th:text="${titleText}"></h1>
    </div>

    <div class="col-4 p-0 mb-3">
        <form th:action="@{/overview/details/garden/patches/new/{gardenId}(gardenId=${patch.getGardenDTO()
        .getGardenId()})}" method="post" th:object="${patch}"
              class="">
            <input type="hidden" th:field="*{patchId}">
            <input type="text" th:field="*{name}" class="form-control mb-2point5"
                   placeholder="Name">
            <input type="text" th:field="*{crop}" class="form-control mb-3"
                   placeholder="Crop">
            <button type="submit" class="btn btn-small btn-success"
                    th:text="${buttonText}">
            </button>
        </form>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
</body>
</html>