<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <title>Profile settings</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container w-50">
    <h1>Profile settings</h1>

        <div class="col-md-4 p-0 mb-3 profileSettings-container">
            <form th:action="@{/login}" method="post" th:object="${user}">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid email or password.</div>
                </div>
            </form>

                <div>
                    <div class="details">
                        <h4><img src="/images/icons/avatarBlack/icons8-user-50.png" alt="avatar" width="150"
                        class="img-fluid rounded-circle shadow"></h4>
                        </div>
                    </div>
                </div>

            <div class="col-6 p-0 mb-3">
                <form id="changeProfileSettingsForm" th:action="@{/profileSettings/new}" method="post" th:object="${user}">

                        <div id="profileSettings" class="d-flex flex-row mb-2point5">
                            <label class="form-control-label col-4">Email:</label>
                        </div>

                        <input type="email" id="email" name="originalEmail" class="form-control mb-2point5" autofocus="autofocus" placeholder="Email" />

                        <input type="email" id="newEmail" name="newEmail" class="form-control mb-2point5" placeholder="New email" />
                        <input type="hidden" th:field="*{userId}">
                        <br>

                        <div class="d-flex flex-row w-100">
                            <button type="submit" th:text="${buttonText}" class="btn btn-success mr-2point5"></button>
                        </div>

            </form>
        </div>

</div>

</div>

<script type="text/javascript" th:src="@{/js/CheckEqualityInput.js}"></script>
<div th:replace="fragments/general :: footer"></div>

</body>
</html>