<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <meta charset="UTF-8">
  <title>Garden Overview</title>
</head>

<body>

<div th:replace="fragments/general :: navbar"></div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="igadi-item-green" href="/">Home</a></li>
    <li class="breadcrumb-item"><a class="igadi-item-green" href="/gardens">Gardens</a></li>
    <li class="breadcrumb-item active" aria-current="page">Search Gardens</li>
  </ol>
</nav>

<div class="container d-flex flex-column border-temp h-50">
  <div class="border-temp mb-3">
    <h1>Search Users</h1>
  </div>

  <form class="form-horizontal" id="search-form">
    <div class="form-group form-group-lg">
      <div class="w-100 d-flex flex-column align-items-left">
        <input class="form-control w-50" oninput="fire_ajax_submit()" id="keywordsBox"
               placeholder="Search for a user" type="search"/>
        <div id="result" class="resultList w-50">
          <ul class="list-group-item-success w-100"></ul>
        </div>
      </div>
    </div>
  </form>

  <div id="feedback"></div>

  </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<script type="text/javascript" th:src="@{/js/SearchUsers.js}"></script>
</body>
</html>