<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <title>Create a new account</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<form th:action="@{/users/new}" method="post" th:object="${user}">
    <table>
        <tr>
            <td>User Name</td>
            <td><input type="text" th:field="*{userName}"></td>
        </tr>
        <tr>
            <td>User Email</td>
            <td><input type="email" th:field="*{userEmail}"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{userPassword}"></td>
        </tr>

    </table>

    <select th:field="*{garden}">
        <option th:each="garden : ${allGardens}" th:value="${garden.gardenId}" th:text="${garden.gardenName}"></option>
    </select>
    <p th:text="${errorMessage}" class="text-danger"></p>
    <input type="submit" value="save user">

</form>
<div th:replace="fragments/general :: container"></div>

<div th:replace="fragments/general :: footer"></div>

</body>
</html>