<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <meta charset="UTF-8">
    <title>Create account</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container d-flex flex-column align-items-center border-temp h-50 text-center">
    <div class="border-temp mb-3">
        <h1>Sign up</h1>
    </div>

    <div class="input-container border-temp col-3 p-0 mb-3">

        <form th:action="@{/users/new}" method="post" th:object="${user}" name="createAccount" id="loginForm">
            <div class="form-group w-auto">
                <input type="text" th:field="*{userName}" class="form-control mb-3" placeholder="Username">
                <input type="email" th:field="*{userEmail}" class="form-control mb-3" placeholder="Email">

                <div id="passwordInputFields">
                    <div class="form-group input-group mb-0">
                        <input type="password" th:field="*{password1}" class="form-control mb-3" placeholder="Password"
                               id="inputfieldPassword1">

                        <div class="form-group input-group-prepend eyeBox">
                            <div class="input-group-text rond">
                                <a href="#" class="text-dark" id="icon-click">
                                    <img id="iconPasswordEyeVisible" th:src="@{/images/icons/icons8-eye-24.png}"
                                         alt="eye that is open"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="password" th:field="*{password2}" class="form-control mb-3"
                               placeholder="Repeat password"
                               id="inputfieldRepeatPassword1">
                    </div>
                </div>

            </div>

            <div class="d-flex">
                <button type="submit" class="equalBox btn btn-success mr-3">Save</button>
                <button type="button" class="equalBox btn btn-success mr-3 mr-auto" onclick="location.href='/'">
                    Cancel
                </button>
            </div>
        </form>
    </div>
    <div>
        <p th:if="${!message.isEmpty()}" th:class="${message.get(1)}" th:text="${message.get(0)}"></p>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/ToggleController.js}"></script>

<div th:replace="fragments/general :: footer"></div>

</body>
</html>
